**Create databases**

In [17]:
import psycopg2

# Establish a connection to the default 'postgres' database
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="Kat1eMee15",
    database="postgres"  # Connect to the default 'postgres' database
)

# Set isolation level to autocommit
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)

# Create a cursor object
cursor = conn.cursor()

# Create the 'olympics' database
cursor.execute("CREATE DATABASE games;")



# Close the cursor and the connection
cursor.close()
conn.close()

**Create the SQLAlchemy engine**

In [18]:
from sqlalchemy import create_engine, text

# Define database connection parameters
db_params = {
    'dbname': 'games',
    'user': 'postgres',
    'password': 'Kat1eMee15',
    'host': 'localhost',
    'port': '5432'
}

# Create a SQLAlchemy engine
engine = create_engine(f'postgresql://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["dbname"]}')
conn = engine.connect()

# Create the schema
create_schema_query = text('CREATE SCHEMA IF NOT EXISTS games;')
conn.execute(create_schema_query)

conn.close()

**Create Data Tables**

In [19]:
import pandas as pd

from sqlalchemy import INTEGER, VARCHAR, NUMERIC

# Define table name
table_name = 'game_sales'

# Drop the table if it exists
drop_table_query = text(f'DROP TABLE IF EXISTS {table_name};')
with engine.connect() as connection:
    connection.execute(drop_table_query)

# Import athletes data from CSV
game_sales = pd.read_csv('datasets/game_sales.csv')

# Change column header names to lowercase
game_sales.columns = game_sales.columns.str.lower()

# Define datatypes for import
_dtypes = {'game': VARCHAR(150),
		'platform': VARCHAR(5),
		'publisher': VARCHAR(50),
		'developer': VARCHAR(70),
		'games_sold': NUMERIC,
		'year': INTEGER}


# Import datatable into SQL data table
game_sales.to_sql('game_sales', con=engine, schema='public', index=False, if_exists='replace', dtype=_dtypes)

600

In [20]:
# Define table name
table_name = 'reviews'

# Drop the table if it exists
drop_table_query = text(f'DROP TABLE IF EXISTS {table_name};')
with engine.connect() as connection:
    connection.execute(drop_table_query)

# Import athletes data from CSV
reviews = pd.read_csv('datasets/reviews.csv')

# Change column header names to lowercase
reviews.columns = reviews.columns.str.lower()

# Define datatypes for import
_dtypes = {'game': VARCHAR(150),
		'Critic_Score': NUMERIC,
		'User_Score': NUMERIC}

           # Import datatable into SQL data table
reviews.to_sql('reviews', con=engine, schema='public', index=False, if_exists='replace', dtype=_dtypes)

400

In [21]:
# Load the sql module to iPython
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%%sql postgresql://postgres:Kat1eMee15@localhost:5432/games

--Check tables exist in schema = public

SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public'

2 rows affected.

[('game_sales',), ('reviews',)]

## 1. The ten best-selling video games
<p><img src="https://assets.datacamp.com/production/project_1413/img/video_game.jpg" alt="A video game player choosing a game to play on Nintendo Switch." width="400"></p>
<p>Photo by <a href="https://unsplash.com/@retromoon">Dan Schleusser</a> on <a href="https://unsplash.com">Unsplash</a>.</p>
<p>Video games are big business: the global gaming market is projected to be worth more than $300 billion by 2027 according to <a href="https://www.mordorintelligence.com/industry-reports/global-gaming-market">Mordor Intelligence</a>. With so much money at stake, the major game publishers are hugely incentivized to create the next big hit. But are games getting better, or has the golden age of video games already passed?</p>
<p>In this project, we'll explore the top 400 best-selling video games created between 1977 and 2020. We'll compare a dataset on game sales with critic and user reviews to determine whether or not video games have improved as the gaming market has grown.</p>
<p>Our database contains two tables. We've limited each table to 400 rows for this project, but you can find the complete dataset with over 13,000 games on <a href="https://www.kaggle.com/holmjason2/videogamedata">Kaggle</a>. </p>
<h3 id="game_sales"><code>game_sales</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>platform</code></td>
<td>varchar</td>
<td>Gaming platform</td>
</tr>
<tr>
<td style="text-align:left;"><code>publisher</code></td>
<td>varchar</td>
<td>Game publisher</td>
</tr>
<tr>
<td style="text-align:left;"><code>developer</code></td>
<td>varchar</td>
<td>Game developer</td>
</tr>
<tr>
<td style="text-align:left;"><code>games_sold</code></td>
<td>float</td>
<td>Number of copies sold (millions)</td>
</tr>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Release year</td>
</tr>
</tbody>
</table>
<h3 id="reviews"><code>reviews</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>game</code></td>
<td>varchar</td>
<td>Name of the video game</td>
</tr>
<tr>
<td style="text-align:left;"><code>critic_score</code></td>
<td>float</td>
<td>Critic score according to Metacritic</td>
</tr>
<tr>
<td style="text-align:left;"><code>user_score</code></td>
<td>float</td>
<td>User score according to Metacritic</td>
</tr>
</tbody>
</table>
<p>Let's begin by looking at some of the top selling video games of all time!</p>

In [23]:
%%sql


-- Select all information for the top ten best-selling games
-- Order the results from best-selling game down to tenth best-selling
SELECT *
FROM game_sales
ORDER BY games_sold DESC
LIMIT 10

 * postgresql://postgres:***@localhost:5432/games
10 rows affected.

[('Wii Sports', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('82.9'), 2006),
 ('Super Mario Bros.', 'NES', 'Nintendo', 'Nintendo EAD', Decimal('40.24'), 1985),
 ('Counter-Strike: Global Offensive', 'PC', 'Valve', 'Valve Corporation', Decimal('40.0'), 2012),
 ('Mario Kart Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('37.32'), 2008),
 ("PLAYERUNKNOWN'S BATTLEGROUNDS", 'PC', 'PUBG Corporation', 'PUBG Corporation', Decimal('36.6'), 2017),
 ('Minecraft', 'PC', 'Mojang', 'Mojang AB', Decimal('33.15'), 2010),
 ('Wii Sports Resort', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('33.13'), 2009),
 ('Pokemon Red / Green / Blue Version', 'GB', 'Nintendo', 'Game Freak', Decimal('31.38'), 1998),
 ('New Super Mario Bros.', 'DS', 'Nintendo', 'Nintendo EAD', Decimal('30.8'), 2006),
 ('New Super Mario Bros. Wii', 'Wii', 'Nintendo', 'Nintendo EAD', Decimal('30.3'), 2009)]

## 2. Missing review scores
<p>Wow, the best-selling video games were released between 1985 to 2017! That's quite a range; we'll have to use data from the <code>reviews</code> table to gain more insight on the best years for video games. </p>
<p>First, it's important to explore the limitations of our database. One big shortcoming is that there is not any <code>reviews</code> data for some of the games on the <code>game_sales</code> table. </p>

In [24]:
%%sql 

-- Join games_sales and reviews
-- Select a count of the number of games where both critic_score and user_score are null

SELECT COUNT(g.game)
FROM game_sales AS g

LEFT JOIN reviews AS r 

ON g.game = r.game
WHERE critic_score IS NULL AND user_score IS NULL;

 * postgresql://postgres:***@localhost:5432/games
1 rows affected.

[(19600,)]

## 3. Years that video game critics loved
<p>It looks like a little less than ten percent of the games on the <code>game_sales</code> table don't have any reviews data. That's a small enough percentage that we can continue our exploration, but the missing reviews data is a good thing to keep in mind as we move on to evaluating results from more sophisticated queries. </p>
<p>There are lots of ways to measure the best years for video games! Let's start with what the critics think. </p>

In [25]:
%%sql

-- Select release year and average critic score for each year, rounded and aliased
-- Join the game_sales and reviews tables
-- Group by release year
-- Order the data from highest to lowest avg_critic_score and limit to 10 results
SELECT g.year, ROUND(AVG(CAST(r.critic_score AS DECIMAL)), 2) AS avg_critic_score
FROM game_sales AS g
LEFT JOIN reviews AS r
    ON g.game = r.game
GROUP BY g.year
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/games
10 rows affected.

[(1989, None),
 (1977, None),
 (1983, None),
 (2017, None),
 (2009, None),
 (2013, None),
 (2003, None),
 (1997, None),
 (2016, None),
 (1991, None)]

## 4. Was 1982 really that great?
<p>The range of great years according to critic reviews goes from 1982 until 2020: we are no closer to finding the golden age of video games! </p>
<p>Hang on, though. Some of those <code>avg_critic_score</code> values look like suspiciously round numbers for averages. The value for 1982 looks especially fishy. Maybe there weren't a lot of video games in our dataset that were released in certain years. </p>
<p>Let's update our query and find out whether 1982 really was such a great year for video games.</p>

In [26]:
%%sql 

-- Paste your query from the previous task; update it to add a count of games released in each year called num_games
-- Update the query so that it only returns years that have more than four reviewed games

SELECT g.year, 
     COUNT(g.game) AS num_games, 
     ROUND(AVG(CAST(r.critic_score AS DECIMAL)), 2) AS avg_critic_score
        
FROM game_sales g

INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_critic_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/games
0 rows affected.

[]

## 5. Years that dropped off the critics' favorites list
<p>That looks better! The <code>num_games</code> column convinces us that our new list of the critics' top games reflects years that had quite a few well-reviewed games rather than just one or two hits. But which years dropped off the list due to having four or fewer reviewed games? Let's identify them so that someday we can track down more game reviews for those years and determine whether they might rightfully be considered as excellent years for video game releases!</p>
<p>It's time to brush off your set theory skills. To get started, we've created tables with the results of our previous two queries:</p>
<h3 id="top_critic_years"><code>top_critic_years</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>

In [27]:
%%sql 

-- Select the year and avg_critic_score for those years that dropped off the list of critic favorites 
-- Order the results from highest to lowest avg_critic_score
SELECT year, avg_critic_score
FROM top_critic_years
EXCEPT
SELECT year, avg_critic_score
FROM top_critic_years_more_than_four_games
ORDER BY avg_critic_score DESC

 * postgresql://postgres:***@localhost:5432/games
(psycopg2.errors.UndefinedTable) relation "top_critic_years" does not exist
LINE 4: FROM top_critic_years
             ^

[SQL: -- Select the year and avg_critic_score for those years that dropped off the list of critic favorites
-- Order the results from highest to lowest avg_critic_score
SELECT year, avg_critic_score
FROM top_critic_years
EXCEPT
SELECT year, avg_critic_score
FROM top_critic_years_more_than_four_games
ORDER BY avg_critic_score DESC]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 6. Years video game players loved
<p>Based on our work in the task above, it looks like the early 1990s might merit consideration as the golden age of video games based on <code>critic_score</code> alone, but we'd need to gather more games and reviews data to do further analysis. </p>
<p>Let's move on to looking at the opinions of another important group of people: players! To begin, let's create a query very similar to the one we used in Task Four, except this one will look at <code>user_score</code> averages by year rather than <code>critic_score</code> averages.</p>

In [12]:
%%sql 

-- Select year, an average of user_score, and a count of games released in a given year, aliased and rounded
-- Include only years with more than four reviewed games; group data by year
-- Order data by avg_user_score, and limit to ten results
SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.user_score),2) AS avg_user_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_user_score DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/games
(psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 4: SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.user_...
                                                   ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: -- Select year, an average of user_score, and a count of games released in a given year, aliased and rounded
-- Include only years with more than four reviewed games; group data by year
-- Order data by avg_user_score, and limit to ten results
SELECT g.year, COUNT(g.game) AS num_games, ROUND(AVG(r.user_score),2) AS avg_user_score
FROM game_sales g
INNER JOIN reviews r
ON g.game = r.game
GROUP BY g.year
HAVING COUNT(g.game) > 4
ORDER BY avg_user_score DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 7. Years that both players and critics loved
<p>Alright, we've got a list of the top ten years according to both critic reviews and user reviews. Are there any years that showed up on both tables? If so, those years would certainly be excellent ones!</p>
<p>Recall that we have access to the <code>top_critic_years_more_than_four_games</code> table, which stores the results of our top critic years query from Task 4:</p>
<h3 id="top_critic_years_more_than_four_games"><code>top_critic_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_critic_score</code></td>
<td>float</td>
<td>Average of all critic scores for games released in that year</td>
</tr>
</tbody>
</table>
<p>We've also saved the results of our top user years query from the previous task into a table:</p>
<h3 id="top_user_years_more_than_four_games"><code>top_user_years_more_than_four_games</code></h3>
<table>
<thead>
<tr>
<th style="text-align:left;">column</th>
<th>type</th>
<th>meaning</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left;"><code>year</code></td>
<td>int</td>
<td>Year of video game release</td>
</tr>
<tr>
<td style="text-align:left;"><code>num_games</code></td>
<td>int</td>
<td>Count of the number of video games released in that year</td>
</tr>
<tr>
<td style="text-align:left;"><code>avg_user_score</code></td>
<td>float</td>
<td>Average of all user scores for games released in that year</td>
</tr>
</tbody>
</table>

In [13]:
%%sql 

-- Select the year results that appear on both tables
SELECT year
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT year
FROM top_user_years_more_than_four_games

 * postgresql://postgres:***@localhost:5432/games
(psycopg2.errors.UndefinedTable) relation "top_critic_years_more_than_four_games" does not exist
LINE 3: FROM top_critic_years_more_than_four_games
             ^

[SQL: -- Select the year results that appear on both tables
SELECT year
FROM top_critic_years_more_than_four_games
INTERSECT
SELECT year
FROM top_user_years_more_than_four_games]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 8. Sales in the best video game years
<p>Looks like we've got three years that both users and critics agreed were in the top ten! There are many other ways of measuring what the best years for video games are, but let's stick with these years for now. We know that critics and players liked these years, but what about video game makers? Were sales good? Let's find out.</p>
<p>This time, we haven't saved the results from the previous task in a table for you. Instead, we'll use the query from the previous task as a subquery in this one! This is a great skill to have, as we don't always have write permissions on the database we are querying.</p>

In [14]:
%%sql 

-- Select year and sum of games_sold, aliased as total_games_sold; order results by total_games_sold descending
-- Filter game_sales based on whether each year is in the list returned in the previous task
SELECT g.year, SUM(g.games_sold) AS total_games_sold
FROM game_sales g
WHERE g.year IN (SELECT year
FROM top_user_years_more_than_four_games
INTERSECT
SELECT year
FROM top_critic_years_more_than_four_games)
GROUP BY g.year
ORDER BY total_games_sold DESC;

 * postgresql://postgres:***@localhost:5432/games
(psycopg2.errors.UndefinedTable) relation "top_user_years_more_than_four_games" does not exist
LINE 6: FROM top_user_years_more_than_four_games
             ^

[SQL: -- Select year and sum of games_sold, aliased as total_games_sold; order results by total_games_sold descending
-- Filter game_sales based on whether each year is in the list returned in the previous task
SELECT g.year, SUM(g.games_sold) AS total_games_sold
FROM game_sales g
WHERE g.year IN (SELECT year
FROM top_user_years_more_than_four_games
INTERSECT
SELECT year
FROM top_critic_years_more_than_four_games)
GROUP BY g.year
ORDER BY total_games_sold DESC;]
(Background on this error at: https://sqlalche.me/e/20/f405)

**Drop Database**

In [15]:
import psycopg2

# Establish a connection to the default 'postgres' database
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="Kat1eMee15",
    database="postgres"  # Connect to the default 'postgres' database
)

# Set isolation level to autocommit
conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)

# Create a cursor object
cursor = conn.cursor()

# Terminate active connections to the 'database_design' database
cursor.execute("SELECT pg_terminate_backend (pg_stat_activity.pid) FROM pg_stat_activity WHERE pg_stat_activity.datname = 'games';")

# Drop the 'database_design' database
cursor.execute("DROP DATABASE IF EXISTS games;")

# Close the cursor and the connection
cursor.close()
conn.close()